header {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}